---
import Layout from "../layouts/Layout.astro";

import costados from "../img/costados.webp";
import fachada from "../img/fachada.webp";
import AntonioyZoraida from "../img/AntonioyZoraida.webp";
---

<Layout>
    <div class="w-full h-grow bg-gray-800 lg:col-span-6 xl:col-span-5">
        <div class="p-6">
            <h2 class="pt-4 pb-2 text-gray-100 font-bold text-2xl">
                CONDES DE FUENTE EL SALCE
            </h2>
            <br />
            <p class="pb-2 text-gray-100 text-md">
                El <a
                    href="https://es.wikipedia.org/wiki/Condado_de_Fuente_el_Salce"
                    class="underline lg:hover:text-gray-300 transition ease-in-out duration-300"
                    target="_blank">Condado de Fuente el Salce</a
                > es un título nobiliario español concedido por
                <b>Carlos II</b> el 27 de septiembre de 1689, con el vizcondado previo
                de la Sierra, a favor de
                <b>Manuel de Salamanca e Isunza</b> (en ocasiones se mencionaba el
                apellido Isunza antes del apellido Salamanca, al haber heredado el
                mayorazgo de su familia materna), caballero de la Orden de Calatrava,
                natural de Valladolid y vecino de Granada. Se convirtió en el primer
                conde de Fuente el Salce con solo veintitrés años gracias a las influencias
                de su padre, <b>José de Salamanca y Forcallo</b> (ya mencionado en
                <a
                    href="/primeros/"
                    class="underline lg:hover:text-gray-300 transition ease-in-out duration-300"
                    >Los Primeros Salamanca</a
                >), natural de Burgos, caballero de la Orden de Santiago, oidor
                de las Reales Chancillerías de Valladolid y Granada y miembro
                del Consejo de Castilla.
            </p>
            <p class="pb-2 text-gray-100 text-md">
                La denominación tanto del condado como del vizcondado previo
                concedidos a la familia <b>Salamanca</b> hacían referencia a Fuente
                el Salce, un pago en la llamada Sierra de Ubierna que se cita en
                antiguos documentos como límite entre las localidades burgalesas
                de Villaverde Peñahorada y Ubierna. La presencia de miembros de la
                familia
                <b>Salamanca</b> en Villaverde Peñahorada está documentada desde
                al menos 1621, y existen escudos en piedra que muestran las armas
                del linaje en diferentes casas del pueblo.
            </p>
            <br />
            <img
                src={costados.src}
                class="object-contain w-max md:h-80"
                alt="Costados de Manuel de Salamanca e Isunza, I conde de Fuente el Salce"
                title="Costados de Manuel de Salamanca e Isunza, I conde de Fuente el Salce"
            />
            <p class="text-gray-300 text-xs pt-2">
                Costados de Manuel de Salamanca e Isunza, I conde de Fuente el
                Salce, señor de la casa de Escoriaza en Vitoria, caballero de
                Calatrava.
            </p>
            <br />
            <p class="pb-2 text-gray-100 text-md">
                <b>Manuel de Salamanca e Isunza</b>, <a
                    href="https://es.wikipedia.org/wiki/Condado_de_Fuente_el_Salce"
                    class="underline lg:hover:text-gray-300 transition ease-in-out duration-300"
                    target="_blank">I conde de Fuente el Salce</a
                >, murió sin descendencia, pasando el título a su sobrino, <b
                    >Manuel José de Salamanca y Fernández de Córdoba</b
                >, natural de Granada, hijo de
                <b>José de Salamanca e Isunza</b>, y <b
                    >María Pascuala Fernández de Córdoba y Hurtado de Mendoza</b
                >. Este último trasladó su residencia a Constantina (Sevilla),
                donde su familia materna, los Fernández de Córdoba, tenían
                cargos y propiedades. En Constantina se conserva la casa que fue
                de los sucesivos Condes de Fuente el Salce, con una colorida
                portada barroca al estilo de las de otras casas palacio que la
                saga de alarifes Ruiz Florindo construyó en otras localidades
                cercanas, como Fuentes de Andalucía o Lora del Río.
            </p>
            <p class="pb-2 text-gray-100 text-md">
                En esta casa de Constantina, situada en el nº 10 de la actual
                plaza de España, vivieron los condes hasta que a mediados del
                siglo XIX trasladaron su residencia habitual a Córdoba y
                posteriormente a Madrid. Por ello la familia acabó deshaciéndose
                del inmueble y a finales del siglo XX presentaba un claro estado
                de abandono y ruina. En 2004 fue objeto de una profunda
                restauración que solo conservó la fachada y la volumetría de la
                primera crujía. Con motivo de aquellas obras, se colocó sobre la
                puerta de entrada un relieve con el escudo que erróneamente
                pretendía ser el de los primitivos propietarios de la casa. En
                realidad, las figuras heráldicas que representa dicho escudo (en
                concreto los cuatro bastones rodeados de una bordura de
                crucecillas que aparecen en la partición izquierda) se
                corresponden con las armas de otro linaje noble diferente: el de
                los Salamanca extremeños, que en ocasiones también llevaron el
                apellido Rodríguez de Salamanca, Rodríguez de las Varillas o
                incluso Rodríguez de las Varillas de Salamanca. Los condes de
                Fuente el Salce, en cambio, pertenecen al linaje Salamanca
                originario de Burgos (también apellidados indistintamente con el
                compuesto Rodríguez de Salamanca que más tarde transformaron en
                Fernández de Salamanca, véase <a
                    href="/fds/"
                    class="underline lg:hover:text-gray-300 transition ease-in-out duration-300"
                    >Los Fernández de Salamanca</a
                >), cuyo escudo es un mantelado en el que figuran dos leones
                rampantes de gules sobre campo de oro y una flor de lis de plata
                sobre azur.
            </p>
            <br />
            <img
                src={fachada.src}
                class="object-contain w-max"
                alt="Fachada de la antigua casa de los Condes de Fuente el Salce, Constantina"
                title="Fachada de la antigua casa de los Condes de Fuente el Salce, Constantina"
            />
            <p class="text-gray-300 text-xs pt-2">
                Fachada de la antigua casa de los Condes de Fuente el Salce.
                Mediados del siglo XVIII, Constantina (Sevilla).
            </p>
            <br />

            <p class="pb-2 text-gray-100 text-md">
                <a
                    href="https://dbe.rah.es/biografias/34691/jose-de-salamanca-y-de-forcallo"
                    target="_blank"
                    class="underline font-bold lg:hover:text-gray-300 transition ease-in-out duration-300"
                    >José de Salamanca y Forcallo</a
                >.
            </p>
            <p class="pb-2 text-gray-100 text-md">
                Nacido el 10 de noviembre de 1622 en Burgos y fallecido el 22 de
                septiembre de 1694 en Madrid. Caballero de la Orden de Santiago,
                consejero de Hacienda y de Castilla. Hijo de <b
                    >Jerónimo de Salamanca y Riaño</b
                >, natural de Burgos, caballero de la Orden de Calatrava (1616)
                y familiar del Santo Oficio, e <b
                    >Isabela de Forcallo y Guevara</b
                >, natural de Ciudad Real, quienes habían contraído matrimonio
                en 1618 (ya mencionados en <a
                    href="/primeros/"
                    class="underline lg:hover:text-gray-300 transition ease-in-out duration-300"
                    >Los Primeros Salamanca</a
                >). Sus abuelos paternos fueron Juan de Salamanca y Matanza, y
                Magdalena de Riaño y Mazuelo, ambos naturales de Burgos, y sus
                abuelos maternos eran Juan de Forcallo y Carrillo, natural de
                Ciudad Real y su alcalde ordinario (1601), y María de Guevara y
                Céspedes, natural de Ciudad Real. El matrimonio de su tía
                paterna, Bárbola de Salamanca y Riaño, con Lorenzo de Riaño,
                había confirmado el parentesco de su familia con la burgalesa
                familia Riaño y con ello fortalecido su presencia en consejos y
                audiencias de la Monarquía, pues de este enlace nacieron <a
                    href="https://dbe.rah.es/biografias/34567/antonio-de-riano-y-salamanca"
                    target="_blank"
                    class="underline font-bold lg:hover:text-gray-300 transition ease-in-out duration-300"
                    >Antonio de Riaño y Salamanca</a
                > (1616-1675), caballero de la Orden de Calatrava (1655), juez mayor
                de Vizcaya (1649), oidor en Valladolid (1650), fiscal del Consejo
                de Órdenes (1656) y consejero de Castilla (1671), y Mateo de Riaño
                y Salamanca, caballero de la Orden de Santiago (1660), alcalde de
                hijosdalgo en Valladolid (1657) y luego oidor allí mismo (1661).
            </p>
            <p class="pb-2 text-gray-100 text-md">
                Una vez graduado de bachiller en Cánones ingresó al Colegio
                Mayor de San Bartolomé de la Universidad de Salamanca (28 de
                octubre de 1644) y tiempo después se graduó de licenciado en
                Cánones (12 de junio de 1647) y salió del Colegio provisto como
                juez mayor de Vizcaya en la Audiencia y Chancillería Real de
                Valladolid (25 de febrero de 1653) y al cabo de cuatro años fue
                promovido a una plaza de oidor en el mismo tribunal (10 de
                agosto de 1657), de la que tomó posesión cuatro días más tarde y
                en la que permaneció hasta que, sobre consulta de la Cámara de
                Castilla (10 de diciembre de 1674), fue ascendido a oidor en el
                Tribunal del Consejo y Contaduría Mayor de Hacienda para
                reemplazar al fallecido Francisco Plaza Pantoja, dándosele su
                título casi de inmediato (18 de diciembre de 1674), y al
                reformarse la planta del Consejo de Hacienda (10 de agosto de
                1677) se mantuvo como uno de sus cinco consejeros en Sala de
                Justicia, pero no despachó mucho tiempo en ella pues, sobre
                nueva consulta de la Cámara de Castilla (10 de noviembre de
                1677), se le concedió una plaza en el Consejo Real de Castilla,
                de la que se le libró título pocos días más tarde (26 del mismo
                mes) y la sirvió hasta su muerte.
            </p>
            <p class="pb-2 text-gray-100 text-md">
                Tuvo 3 hijos y 1 hija con <b
                    >Jacinta Antonia de Isunza y Zuricaray</b
                >, nacida el 20 de junio de 1627 en Vitoria-Gasteiz, hija de
                Pedro de Isunza y Escoriaza (hijo de Martín de Isunza y Añastro,
                y Luisa López de Escoriaza y Álava, nieta paterna del médico <a
                    href="https://es.wikipedia.org/wiki/Fern%C3%A1n_L%C3%B3pez_de_Escoriaza"
                    target="_blank"
                    class="underline font-bold lg:hover:text-gray-300 transition ease-in-out duration-300"
                    >Fernán López de Escoriaza e Ibáñez de Aguirre</a
                >) y Luisa de Zuricaray y Zuazo de Gamboa (hija de Juan Pérez de
                Zuricaray, y Gerónima de Zuazo de Gamboa).
            </p>
            <br />
            <details>
                <summary class="pb-2 text-gray-100 text-md cursor-pointer"
                    ><b>José de Salamanca e Isunza</b>, padre del <a
                        href="https://es.wikipedia.org/wiki/Condado_de_Fuente_el_Salce"
                        target="_blank"
                        class="underline lg:hover:text-gray-300 transition ease-in-out duration-300"
                        >II conde de Fuente el Salce</a
                    >.</summary
                >
                <p class="pb-2 text-gray-100 text-md">
                    Nacido alrededor de 1667 en Valladolid y fallecido alrededor
                    de 1718. Caballero de la Orden de Calatrava, alcalde de
                    hijosdalgo en la Audiencia y Chancillería Real de Granada
                    (1699) y oidor allí mismo (1707).
                </p>
                <p class="py-2 text-gray-100 text-md">
                    Tuvo 1 hijo y 1 hija con <b
                        >María Pascula Fernández de Córdoba y Hurtado de Mendoza</b
                    >, nacida alrededor de 1687 en Granada, hija de Luis
                    Fernández de Córdoba y Figueroa (hijo de Antonio de Córdoba
                    y Figueroa, y María de Córdoba y Guzmán) y María Francisca
                    Hurtado de Mendoza y Dávila (hija de Francisco Hurtado de
                    Mendoza y Gascón, y Estefanía Dávila y Corbera).
                </p>

                <details class="pl-8">
                    <summary class="pb-2 text-gray-100 text-md cursor-pointer"
                        ><b>Manuel José de Salamanca y Fernández de Córdova</b>, <a
                            href="https://es.wikipedia.org/wiki/Condado_de_Fuente_el_Salce"
                            target="_blank"
                            class="underline lg:hover:text-gray-300 transition ease-in-out duration-300"
                        >
                            II conde de Fuente el Salce</a
                        >.</summary
                    >
                    <p class="pb-2 text-gray-100 text-md">
                        Nacido el 7 de marzo de 1706 en Granada. Veinticuatro de
                        Córdoba, alcalde por el estado noble de Constantina
                        durante los años 1752, 1753 y 1754.
                    </p>
                    <p class="py-2 text-gray-100 text-md">
                        Tuvo 5 hijos y 3 hijas con <b
                            >Manuela de Quincoces y Marqués de la Rosa</b
                        >, nacida el 22 de septiembre de 1720 en Granada, hija
                        de Fernando Francisco de Quincoces y Martínez (hijo de
                        Francisco Antonio de Quinconces y Caballero, y Manuela
                        Martínez y Muñoz) e Isabel Ana Marqués de la Rosa y
                        Pernia (hija de Alonso Marqués de la Rosa y Sánchez de
                        Torres, y Ana Teresa Pernia y Osorio).
                    </p>
                    <details class="pl-8">
                        <summary
                            class="pb-2 text-gray-100 text-md cursor-pointer"
                            ><b>Fernando María de Salamanca y Quincoces</b>, <a
                                href="https://es.wikipedia.org/wiki/Condado_de_Fuente_el_Salce"
                                target="_blank"
                                class="underline lg:hover:text-gray-300 transition ease-in-out duration-300"
                            >
                                III conde de Fuente el Salce</a
                            >.</summary
                        >
                        <p class="pb-2 text-gray-100 text-md">
                            Nacido el 13 de julio de 1743 en Madrid y fallecido
                            alrededor de 1808. Veinticuatro de Córdoba, regidor
                            de Lora del Río entre los años 1761 y 1775, alcalde
                            por el estado noble de Constantina durante los años
                            1781, 1785 y 1795.
                        </p>
                        <p class="pb-2 text-gray-100 text-md">
                            Tuvo 4 hijos con María Manuela de Quintanilla y
                            Montalvo, nacida el 28 de agosto de 1731 en Lora del
                            Río (Sevilla), hija de Bartolomé Francisco de
                            Quintanilla y Quintanilla (hijo de Juan Rodrigo de
                            Quintanilla y Andrade, y María Manuela de
                            Quintanilla y Briones) y Ana Catalina de Montalvo y
                            Aguilar (hija de Antonio Enrique de Montalvo y
                            Almansa, y Rosa de Aguilar).
                        </p>
                        <details class="pl-8">
                            <summary
                                class="pb-2 text-gray-100 text-md cursor-pointer"
                                ><b>Cayetano José de Salamanca y Quintanilla</b
                                >, abuelo materno del <a
                                    href="https://es.wikipedia.org/wiki/Condado_de_Fuente_el_Salce"
                                    target="_blank"
                                    class="underline lg:hover:text-gray-300 transition ease-in-out duration-300"
                                >
                                    VII conde de Fuente el Salce</a
                                >.</summary
                            >
                            <p class="pb-2 text-gray-100 text-md">
                                Nacido alrededor de 1766 en Constantina
                                (Sevilla) y fallecido alrededor de 1847.
                            </p>
                            <p class="pb-2 text-gray-100 text-md">
                                Tuvo 2 hijas con María Manuela de Villarroel y
                                Lugo, nacida en Cazalla de la Sierra (Sevilla),
                                hija de Felipe de Villarroel y Rita de Lugo.
                            </p>
                            <details class="pl-8">
                                <summary
                                    class="pb-2 text-gray-100 text-md cursor-pointer"
                                    ><b
                                        >María Manuela de Salamanca y Villarroel</b
                                    >, madre del <a
                                        href="https://es.wikipedia.org/wiki/Condado_de_Fuente_el_Salce"
                                        target="_blank"
                                        class="underline lg:hover:text-gray-300 transition ease-in-out duration-300"
                                        >VII conde de Fuente el Salce</a
                                    >.
                                </summary>
                                <p class="pb-2 text-gray-100 text-md">
                                    Nacida alrededor de 1821 en Constantina
                                    (Sevilla).
                                </p>
                                <p class="pb-2 text-gray-100 text-md">
                                    Tuvo 1 hijo y 1 hija con Antonio Fernández y
                                    San Román, hijo de Antonio Fernández y
                                    Melgarejo (hijo de Joaquín Fernández, y
                                    Josefa Melgarejo) y Carolina San Román y
                                    Carrera (hija de José Tomás San Román, y
                                    Josefa Carrera y Reales).
                                </p>
                                <details class="pl-8">
                                    <summary
                                        class="pb-2 text-gray-100 text-md cursor-pointer"
                                        ><b
                                            >Antonio María Fernández y Salamanca</b
                                        >, <a
                                            href="https://es.wikipedia.org/wiki/Condado_de_Fuente_el_Salce"
                                            target="_blank"
                                            class="underline lg:hover:text-gray-300 transition ease-in-out duration-300"
                                            >VII conde de Fuente el Salce</a
                                        >.
                                    </summary>
                                    <p class="pb-2 text-gray-100 text-md">
                                        Nacido el 1 de octubre de 1844 en
                                        Constantina (Sevilla) y fallecido el 9
                                        de julio de 1908 en Madrid. Gentilhombre
                                        del interior de Alfonso XII y
                                        posteriormente de su hermana la infanta
                                        Isabel de Borbón. Caballero gran cruz de
                                        la Orden de Isabel la Católica.
                                    </p>
                                    <p class="pb-2 text-gray-100 text-md">
                                        Para que no se perdiera el apellido de
                                        su familia materna, los Rodríguez de
                                        Salamanca, de quienes había heredado el
                                        título nobiliario que ostentaba, fundió
                                        sus dos apellidos (Fernández y Rodríguez
                                        de Salamanca) en uno nuevo compuesto
                                        (Fernández de Salamanca), añadiendo como
                                        segundo apellido el materno de su padre,
                                        con lo que pasó a llamarse <b
                                            >Antonio María Fernández de
                                            Salamanca y San Román</b
                                        >. Antonio se convirtió el fundador del
                                        apellido Fernández de Salamanca, único
                                        en todo el mundo y utilizado únicamente
                                        por sus descendientes.
                                    </p>
                                    <p class="py-2 text-gray-100 text-md">
                                        Tuvo 2 hijos y 1 hija con <b
                                            >Zoraida Castilla y Gómez de Cádiz</b
                                        > (fotografía de la mujer), nacida el 29
                                        de noviembre de 1845 en Madrid y fallecida
                                        el 7 de julio de 1911 en Madrid, hija de
                                        Antonio Castilla y Cartas (hijo de Genaro
                                        Castilla y Muñoz, y Josefa Cartas) y Concepción
                                        Gómez de Cádiz y Cornejo (hija de Juan Gómez
                                        de Cádiz y Ramos, y Ana Cornejo y Guerrero).
                                    </p>
                                    <p class="pb-2 text-gray-100 text-md">
                                        Sigue en <a
                                            href="/fds/"
                                            class="underline lg:hover:text-gray-300 transition ease-in-out duration-300"
                                            >Los Fernández de Salamanca</a
                                        >.
                                    </p>
                                    <br />
                                    <img
                                        src={AntonioyZoraida.src}
                                        alt="Fotografías de Antonio María Fernández de Salamanca y San Román y su esposa Zoraida Castilla y Gómez de Cádiz, pintura de Antonio Gisbert"
                                        title="Fotografías de Antonio María Fernández de Salamanca y San Román y su esposa Zoraida Castilla y Gómez de Cádiz, pintura de Antonio Gisbert"
                                    />
                                    <br />
                                </details>
                                <details class="pl-8">
                                    <summary
                                        class="pb-2 text-gray-100 text-md cursor-pointer"
                                        ><b
                                            >María Manuela Fernández y Salamanca</b
                                        >.</summary
                                    >
                                    <p class="pb-2 text-gray-100 text-md">
                                        Nacida alrededor de 1828 en Constantina
                                        (Sevilla) y fallecida alrededor de 1896
                                        en Constantina (Sevilla).
                                    </p>
                                    <p class="pb-2 text-gray-100 text-md">
                                        Tuvo 2 hijos y 1 hija con Juan José de
                                        la Bastida y Herrea, hijo de Rafael de
                                        La Bastida y Núñez de Lara, Conde de
                                        Robledo y Cardeña, y María del Carmen de
                                        Herrea.
                                    </p>
                                </details>
                                <br />
                            </details>
                            <details class="pl-8">
                                <summary
                                    class="pb-2 text-gray-100 text-md cursor-pointer"
                                    ><b
                                        >María Dolores de Salamanca y Villarroel</b
                                    >.</summary
                                >
                                <p class="pb-2 text-gray-100 text-md">
                                    Nacida alrededor de 1828 en Constantina
                                    (Sevilla) y fallecida alrededor de 1896 en
                                    Constantina (Sevilla).
                                </p>
                                <p class="pb-2 text-gray-100 text-md">
                                    Tuvo 1 hijo con Carlos de la Barrera Caro y
                                    Saravia, hijo de Luis de la Barrera Caro y
                                    Fernández de Córdoba, y Dolores Sarabia y
                                    Villarroel.
                                </p>
                            </details>
                            <br />
                        </details>
                        <details class="pl-8">
                            <summary
                                class="pb-2 text-gray-100 text-md cursor-pointer"
                                ><b>Manuel María de Salamanca y Quintanilla</b>, <a
                                    href="https://es.wikipedia.org/wiki/Condado_de_Fuente_el_Salce"
                                    target="_blank"
                                    class="underline lg:hover:text-gray-300 transition ease-in-out duration-300"
                                >
                                    IV conde de Fuente el Salce</a
                                >.</summary
                            >
                            <p class="pb-2 text-gray-100 text-md">
                                Nacido en Sevilla y fallecido alrededor de 1821.
                                Cadete del Regimiento de Infantería de la
                                Princesa. Alguacil mayor de Constantina cuando
                                se produjo la toma y saqueo del pueblo por los
                                franceses en 1808. Tras la retirada de las
                                tropas napoleónicas de la zona, en 1813 es
                                nombrado diputado suplente a las Cortes de Cádiz
                                por Sevilla.
                            </p>
                            <p class="pb-2 text-gray-100 text-md">
                                Tuvo 3 hijos y 2 hijas con Catalina Madueño y
                                Heredia.
                            </p>
                            <details class="pl-8">
                                <summary
                                    class="pb-2 text-gray-100 text-md cursor-pointer"
                                    ><b>Fernando María de Salamanca y Madueño</b
                                    >, <a
                                        href="https://es.wikipedia.org/wiki/Condado_de_Fuente_el_Salce"
                                        target="_blank"
                                        class="underline lg:hover:text-gray-300 transition ease-in-out duration-300"
                                    >
                                        V conde de Fuente el Salce</a
                                    >.</summary
                                >
                                <p class="pb-2 text-gray-100 text-md">
                                    Nacido alrededor de 1789 y fallecido en 1850
                                    en Constantina (Sevilla). Caballero de
                                    Alcántara y brigadier del ejército. Antes de
                                    heredar el título participó en la <a
                                        href="https://es.wikipedia.org/wiki/Guerra_del_Rosell%C3%B3n"
                                        target="_blank"
                                        class="underline lg:hover:text-gray-300 transition ease-in-out duration-300"
                                        >Guerra del Rosellón</a
                                    >, donde fue ascendido a capitán por el
                                    propio <a
                                        href="https://es.wikipedia.org/wiki/Antonio_Ricardos"
                                        target="_blank"
                                        class="underline font-bold lg:hover:text-gray-300 transition ease-in-out duration-300"
                                        >General Ricardos</a
                                    >. En agosto de 1833, mientras se encontraba
                                    en Sevilla como subinspector del cuerpo de
                                    voluntarios realistas de Andalucía, se ve
                                    implicado en las conspiraciones de los
                                    partidarios del infante Carlos María Isidro.
                                    Después de retirarse del ejército se dedicó
                                    a la gestión de sus propiedades, apareciendo
                                    en 1849 como vocal de la Junta General de
                                    Agricultura de Sevilla cuando ésta promovió
                                    sin éxito la creación de un Banco Agrícola
                                    de ámbito andaluz.
                                </p>
                                <p class="pb-2 text-gray-100 text-md">
                                    Sin descendencia aparente.
                                </p>
                                <br />
                            </details>
                            <details class="pl-8">
                                <summary
                                    class="pb-2 text-gray-100 text-md cursor-pointer"
                                    ><b>José Antonio de Salamanca y Madueño</b>, <a
                                        href="https://es.wikipedia.org/wiki/Condado_de_Fuente_el_Salce"
                                        target="_blank"
                                        class="underline lg:hover:text-gray-300 transition ease-in-out duration-300"
                                    >
                                        VI conde de Fuente el Salce</a
                                    >.</summary
                                >
                                <p class="pb-2 text-gray-100 text-md">
                                    Nacido alrededor de 1800 y fallecido el 20
                                    de diciembre de 1876. En 1847 resultó
                                    elegido diputado provincial de Córdoba por
                                    el partido de Montoro. La línea sucesoria
                                    del título siguió en
                                    <b
                                        >Antonio María Fernández de Salamanca y
                                        San Román</b
                                    > (referido en <a
                                        href="/fds/"
                                        class="underline lg:hover:text-gray-300 transition ease-in-out duration-300"
                                        >Los Fernández de Salamanca</a
                                    >), hijo de Antonio Fernández y San Román
                                    (hijo de Antonio Fernández y Melgarejo, y
                                    Carolina San Román y Carrera) y María
                                    Manuela Rodríguez de Salamanca y Villarroel
                                    (hija de Cayetano Rodríguez de Salamanca y
                                    Quintanilla, hermano de <b
                                        >Manuel María de Salamanca y Quintanilla</b
                                    >, <a
                                        href="https://es.wikipedia.org/wiki/Condado_de_Fuente_el_Salce"
                                        target="_blank"
                                        class="underline lg:hover:text-gray-300 transition ease-in-out duration-300"
                                        >IV conde de Fuente el Salce</a
                                    >, y María Manuela de Villarroel y Lugo).
                                </p>
                                <p class="pb-2 text-gray-100 text-md">
                                    Sin descendencia aparente.
                                </p>
                                <br />
                            </details>
                            <details class="pl-8">
                                <summary
                                    class="pb-2 text-gray-100 text-md cursor-pointer"
                                    ><b
                                        >Bartolomé Cayetano de Salamanca y
                                        Madueño.</b
                                    ></summary
                                >
                                <p class="pb-2 text-gray-100 text-md">
                                    Nacido alrededor de 1807.
                                </p>
                                <p class="pb-2 text-gray-100 text-md">
                                    Sin descendencia aparente.
                                </p>
                                <br />
                            </details>
                            <details class="pl-8">
                                <summary
                                    class="pb-2 text-gray-100 text-md cursor-pointer"
                                    ><b>María Manuela de Salamanca y Madueño.</b
                                    ></summary
                                >
                                <p class="pb-2 text-gray-100 text-md">
                                    Nacida alrededor de 1791.
                                </p>
                                <p class="pb-2 text-gray-100 text-md">
                                    Sin descendencia aparente.
                                </p>
                                <br />
                            </details>
                            <details class="pl-8">
                                <summary
                                    class="pb-2 text-gray-100 text-md cursor-pointer"
                                    ><b>María Rafaela de Salamanca y Madueño.</b
                                    ></summary
                                >
                                <p class="pb-2 text-gray-100 text-md">
                                    Nacida alrededor de 1803.
                                </p>
                                <p class="pb-2 text-gray-100 text-md">
                                    Sin descendencia aparente.
                                </p>
                            </details>
                            <br />
                        </details>
                        <details class="pl-8">
                            <summary
                                class="pb-2 text-gray-100 text-md cursor-pointer"
                                ><b
                                    >Bartolomé María de Salamanca y Quintanilla</b
                                >.</summary
                            >
                            <p class="pb-2 text-gray-100 text-md">
                                Nacido 24 de octubre de 1762 en Lora del Río
                                (Sevilla). Guardia Marina (Capitán de Fragata de
                                la Real Armada en 1797) y caballero de Alcántara
                                (1803), político y estadista que en 1797
                                desempeñaba el cargo de Gobernador General
                                Intendente (el tercero desde su creación) y
                                Vicepatrón Real de Arequipa y sus partidos en el
                                Perú.
                            </p>
                            <p class="pb-2 text-gray-100 text-md">
                                Siendo Gobernador Intendente de Arequipa y su
                                provincia, obtuvo el 10 de marzo de 1810, de la
                                Hacienda de la Real Caja de Arequipa, un permiso
                                para remitir a Lima, y desde aquí a España, una
                                alhaja consagrada, que resultó ser un cáliz con
                                su patena, de oro de ley de 22 quilates, con un
                                peso de una libra (453,6 gramos), catorce onzas
                                (396,9 gramos) y quince adarmes (42,525 gramos),
                                sin el sello de la real coronilla y exento del
                                pago del real derecho del 3% de su legítimo
                                valor por ser un objeto sagrado. El destino del
                                cáliz y patena de oro era la Milagrosa Imagen de
                                Nuestra Patrona María Santísima de Setefilla, a
                                la que se hacía donación de la alhaja para que
                                fuese una más de su tesoro, con la condición de
                                que su propiedad nunca fuese de persona alguna y
                                el usufructo lo pudiese tener la fábrica de la
                                iglesia mayor parroquial sólo en los días
                                clásicos y de festividad llamados de primera
                                clase, quedando el Ayuntamiento al cuidado de
                                mantener como patrono este derecho, así como el
                                mayordomo y hermano mayor de Nuestra Señora de
                                Setefilla. La entrega tuvo lugar en Lora del Río
                                el 4 de septiembre de 1816 en las casas de
                                morada de Manuel Montalvo y Ovando, mayordomo y
                                hermano mayor, por manos de Fernando María
                                Rodríguez de Salamanca y Quintanilla, vecino de
                                Constantina y residente en Lora, como apoderado
                                de su hermano Bartolomé María de Salamanca,
                                Intendente de provincia y honorario de ejército,
                                caballero profeso de la Orden Militar de
                                Alcántara, ausente en Lima, la capital del reino
                                de Perú. Un testimonio de la donación sería
                                recogido en el Libro Capitular del Ayuntamiento
                                de Lora del Río del año 1816.
                            </p>
                            <p class="pb-2 text-gray-100 text-md">
                                El loreño y setefillano Bartolomé María de
                                Salamanca y Quintanilla ha sido estudiado por el
                                prestigioso historiador de América Latina,
                                catedrático del Reino Unido, John Robert Fisher, <i
                                    >Arequipa, 1796-1811: la relación del
                                    gobierno del Intendente Salamanca</i
                                >, Universidad Nacional Mayor de San Marcos,
                                Lima, 1968. El político y estadistaloreño
                                Bartolomé María de Salamanca y Quintanilla, en
                                cuanto al nomenclátor de la calles de Lora, es
                                un ejemplo más de la ingratitud y del sectarismo
                                de nuestro Ayuntamiento hacia sus hijosinsignes,
                                al haber desaprovechado la oportunidad que en
                                los últimos años le ofreció la apertura de
                                nuevas calles y, en consecuencia, un nuevo
                                catálogo de nombres, cuya mayor parte, por no
                                decir la totalidad del mismo, vuelve
                                intencionadamente la espalda a la historia e
                                idiosincrasia de Lora.
                            </p>
                            <p class="pb-2 text-gray-100 text-md">
                                Sin descendencia aparente.
                            </p>
                            <br />
                        </details>
                        <details class="pl-8">
                            <summary
                                class="pb-2 text-gray-100 text-md cursor-pointer"
                                ><b>Fernando de Salamanca y Quintanilla</b
                                >.</summary
                            >
                            <p class="pb-2 text-gray-100 text-md">
                                Nacido el 2 de marzo de 1764 en Lora del Río
                                (Sevilla). Comandante de Guardias Españolas,
                                Teniente Coronel de los Reales Ejércitos y
                                Primer Teniente de Real Guardia Española en
                                1797, caballero de Alcántara (1803), en 1808 y
                                1816 Teniente Coronel de Infantería retirado,
                                que había participado en la guerra de la
                                Convención contra Francia, donde varias veces
                                había derramado su sangre por la patria, y donde
                                recibió sobre el campo del honor el grado de
                                capitán del mismo <a
                                    href="https://es.wikipedia.org/wiki/Antonio_Ricardos"
                                    target="_blank"
                                    class="underline font-bold lg:hover:text-gray-300 transition ease-in-out duration-300"
                                    >General Ricardos</a
                                >.
                            </p>
                            <p class="pb-2 text-gray-100 text-md">
                                Sin descendencia aparente.
                            </p>
                            <br />
                        </details>
                        <details class="pl-8">
                            <summary
                                class="pb-2 text-gray-100 text-md cursor-pointer"
                                ><b>Cayetano María de Salamanca y Quintanilla</b
                                >.</summary
                            >
                            <p class="pb-2 text-gray-100 text-md">Clérigo.</p>
                            <p class="pb-2 text-gray-100 text-md">
                                Sin descendencia aparente.
                            </p>
                        </details>
                        <br />
                    </details>
                    <details class="pl-8">
                        <summary
                            class="pb-2 text-gray-100 text-md cursor-pointer"
                            ><b>Camilo de Salamanca y Quincoces</b>.
                        </summary>
                        <p class="pb-2 text-gray-100 text-md">
                            Nacido alrededor de 1761.
                        </p>
                        <p class="pb-2 text-gray-100 text-md">
                            Sin descendencia aparente.
                        </p>
                        <br />
                    </details>
                    <details class="pl-8">
                        <summary
                            class="pb-2 text-gray-100 text-md cursor-pointer"
                            ><b>Francisco Javier de Salamanca y Quincoces</b
                            >.</summary
                        >
                        <p class="pb-2 text-gray-100 text-md">
                            Nacido alrededor de 1758.
                        </p>
                        <p class="pb-2 text-gray-100 text-md">
                            Sin descendencia aparente.
                        </p>
                        <br />
                    </details>
                    <details class="pl-8">
                        <summary
                            class="pb-2 text-gray-100 text-md cursor-pointer"
                            ><b>Ignacio de Salamanca y Quincoces</b>.
                        </summary>
                        <p class="pb-2 text-gray-100 text-md">
                            Sin descendencia aparente.
                        </p>
                        <br />
                    </details>
                    <details class="pl-8">
                        <summary
                            class="pb-2 text-gray-100 text-md cursor-pointer"
                            ><b>José de Salamanca y Quincoces</b>.
                        </summary>
                        <p class="pb-2 text-gray-100 text-md">
                            Fallecido alrededor de 1784.
                        </p>
                        <p class="pb-2 text-gray-100 text-md">
                            Sin descendencia aparente.
                        </p>
                        <br />
                    </details>
                    <details class="pl-8">
                        <summary
                            class="pb-2 text-gray-100 text-md cursor-pointer"
                            ><b>Manuela María de Salamanca y Quincoces</b
                            >.</summary
                        >
                        <p class="pb-2 text-gray-100 text-md">
                            Nacida alrededor de 1749.
                        </p>
                        <p class="pb-2 text-gray-100 text-md">
                            Sin descendencia aparente.
                        </p>
                        <br />
                    </details>
                    <details class="pl-8">
                        <summary
                            class="pb-2 text-gray-100 text-md cursor-pointer"
                            ><b>Francisca de Salamanca y Quincoces</b>.
                        </summary>
                        <p class="pb-2 text-gray-100 text-md">
                            Sin descendencia aparente.
                        </p>
                        <br />
                    </details>
                    <details class="pl-8">
                        <summary
                            class="pb-2 text-gray-100 text-md cursor-pointer"
                            ><b>Andrea de Salamanca y Quincoces</b>.
                        </summary>
                        <p class="pb-2 text-gray-100 text-md">
                            Sin descendencia aparente.
                        </p>
                    </details>
                    <br />
                </details>
                <details class="pl-8">
                    <summary class="pb-2 text-gray-100 text-md cursor-pointer"
                        ><b>Jacinta de Salamanca y Fernández de Córdoba</b
                        >.</summary
                    >
                    <p class="pb-2 text-gray-100 text-md">
                        Sin descendencia aparente.
                    </p>
                </details>
                <br />
            </details>
            <details>
                <summary class="pb-2 text-gray-100 text-md cursor-pointer"
                    ><b>Manuel de Salamanca e Isunza</b>, <a
                        href="https://es.wikipedia.org/wiki/Condado_de_Fuente_el_Salce"
                        target="_blank"
                        class="underline lg:hover:text-gray-300 transition ease-in-out duration-300"
                        >I conde de Fuente el Salce</a
                    >.</summary
                >
                <p class="pb-2 text-gray-100 text-md">
                    Nacido alrededor de 1666 en Vitoria-Gasteiz. Caballero de
                    Calatrava, heredero del mayorazgo de los Isunza y los
                    Escoriaza de Vitoria.
                </p>
                <p class="pb-2 text-gray-100 text-md">
                    Sin descendencia aparente.
                </p>
                <br />
            </details>
            <details>
                <summary class="pb-2 text-gray-100 text-md cursor-pointer"
                    ><b>Tomás de Salamanca e Isunza</b>.</summary
                >
                <p class="pb-2 text-gray-100 text-md">
                    Nacido el 15 de noviembre de 1669 en Valladolid. Caballero
                    de la Orden de Santiago y colegial en el Mayor de San
                    Bartolomé.
                </p>
                <p class="pb-2 text-gray-100 text-md">
                    Tuvo 6 hijos y 2 hijas con Micaela de Herrera y de la Cruz,
                    nacida el 2 de octubre de 1672 en Puebla (Méjico), hija de
                    Miguel de Herrera y Catalina de la Cruz.
                </p>
                <br />
            </details>
            <details>
                <summary class="pb-2 text-gray-100 text-md cursor-pointer"
                    ><b>María Catalina de Salamanca e Isunza</b>.
                </summary>
                <p class="pb-2 text-gray-100 text-md">
                    Nacida el 9 de junio de 1668 en Valladolid.
                </p>
                <p class="pb-2 text-gray-100 text-md">
                    Sin descendencia aparente.
                </p>
            </details>

            <p class="text-gray-300 text-xs py-6">
                Fuente: Investigación personal.
            </p>
        </div>
    </div>
</Layout>

<style></style>
