---
import Layout from "../layouts/Layout.astro";

import TablaGenealogica from "../img/TablaGenealogica.jpg"
---

<Layout>
    <div class="w-full h-grow bg-gradient-to-b from-cyan-600 to-gray-900 lg:col-span-6 xl:col-span-5">
        <div class="p-6">
            <h1 class="pb-2 text-gray-100 underline underline-offset-4 text-xl">LOS PRIMEROS SALAMANCA</h1>
            <br>
            <p class="pb-2 text-gray-100 text-md">El primer Salamanca del que se tiene constancia es <b>Juan
                    Federico de Salamanca</b>, bucelario de la nobleza de Austria. Se considera el principal
                fundador del linaje de Salamanca y todos sus troncos.</p>
            <br>
            <img class="object-contain w-60 md:w-96" src={TablaGenealogica.src}
                alt="Tabla genealógica de la familia de Salamanca en Austria.">
            <p class="text-gray-300 text-xs pt-2">Tabla genealógica de la familia de Salamanca en Austria.</p>
            <br>
            <p class="pb-2 text-gray-100 text-md">Su hijo <b>Gonzalo de Salamanca</b> tuvo 2 hijos, Francisco y
                García de Salamanca, mencionados en <a href="index.html" class="underline">Orígenes
                    Salamanca</a>.</p>
            <br>

            <details>

                <summary class="pb-2 text-gray-100 text-md"> <b>Francisco de Salamanca</b>.</summary>
                <p class="pb-2 text-gray-100 text-md">Nacido en Burgos y fallecido en 1472 en Burgos.
                    Comerciante. Sirvió a los reyes <b>Juan II</b> y <b>Enrique IV de Castilla</b>.</p>
                <p class="py-2 text-gray-100 text-md">Tuvo 1 hijo.</p>
                <details class="pl-8">

                    <summary class="pb-2 text-gray-100 text-md"><b>Gonzalo de Salamanca</b>.</summary>
                    <p class="pb-2 text-gray-100 text-md">Nacido alrededor de 1450 en Burgos y fallecido en
                        Burgos.</p>
                    <p class="py-2 text-gray-100 text-md">Tuvo 3 hijos con <b>Inés de Ayala y Peraza</b> (hija
                        de Diego Ayala y Herrera, e Inés Peraza y Casas).</p>
                    <details class="pl-8">

                        <summary class="pb-2 text-gray-100 text-md"><b>Alonso de Salamanca y Ayala</b>.
                        </summary>
                        <p class="pb-2 text-gray-100 text-md">Nacido alrededor de 1475 en Burgos y fallecido
                            alrededor de 1547 en Burgos.</p>
                        <p class="pb-2 text-gray-100 text-md">Tuvo 5 hijos y 4 hijas con Ana de Polanco y
                            Maluenda, nacida en Burgos, hija de Alfonso de Polanco y Constanza de Maluenda y
                            Castro.</p>
                        <details class="pl-8">

                            <summary class="pb-2 text-gray-100 text-md"><b>Jerónimo de Salamanca y Polanco</b>.
                            </summary>
                            <p class="pb-2 text-gray-100 text-md">Nacido en Burgos. Tesorero de <b>Isabel la
                                    Católica</b>.</p>
                            <p class="pb-2 text-gray-100 text-md">Tuvo 2 hijos y 1 hija con Bárbara de Matanza y
                                Pardo, hija de Juan de Matanza, y Miranda y Bárbara Pardo.</p>
                            <details class="pl-8">

                                <summary class="pb-2 text-gray-100 text-md"><b>Juan de Salamanca y Matanza</b>.
                                </summary>
                                <p class="pb-2 text-gray-100 text-md">Nacido alrededor de 1552 y fallecido
                                    alrededor de 1592.</p>
                                <p class="pb-2 text-gray-100 text-md">Tuvo 5 hijos y 4 hijas con Magdalena de
                                    Riaño y Mazuelo, hija de Francisco de Riaño, y Magdalena de Mazuelo y
                                    Castro.</p>
                                <details class="pl-8">

                                    <summary class="pb-2 text-gray-100 text-md"><b>Jerónimo de Salamanca y
                                            Riaño</b>.</summary>
                                    <p class="pb-2 text-gray-100 text-md">Nacido el 6 de diciembre de 1582 en
                                        Burgos.</p>
                                    <p class="pb-2 text-gray-100 text-md">Tuvo 9 hijos y 2 hijas con Isabel de
                                        Forcallo y Guevara, hija de Juan de Forcallo y Carrillo, y María de
                                        Guevara y Céspedes.</p>
                                    <details class="pl-8">

                                        <summary class="pb-2 text-gray-100 text-md"><b>José de Salamanca y
                                                Forcallo</b>, padre del <a
                                                href="https://es.wikipedia.org/wiki/Condado_de_Fuente_el_Salce"
                                                target="_blank" class="underline">I conde de Fuente el
                                                Salce</a>.</summary>
                                        <p class="pb-2 text-gray-100 text-md">Nacido el 10 de noviembre de 1622
                                            en Burgos. Caballero de la Orden de Santiago, oidor de las Reales
                                            Chancillerías de Valladolid y Granada y miembro del Consejo de
                                            Castilla.</p>
                                        <p class="pb-2 text-gray-100 text-md">Tuvo 3 hijos y 1 hija con Jacinta
                                            Antonia de Isunza y Zuricaray, hija de Pedro de Isunza y Escoriaza y
                                            Luisa de Zuricaray y Zuazo de Gamboa.</p>
                                        <p class="pb-2 text-gray-100 text-md">Sigue en <a href="condes.html"
                                                class="underline">Condes de Fuente el Salce</a>.</p>
                                        <br>

                                    </details>
                                    <details class="pl-8">

                                        <summary class="pb-2 text-gray-100 text-md"><b>Jerónimo de Salamanca y
                                                Forcallo</b>.</summary>
                                        <p class="pb-2 text-gray-100 text-md">Nacido el 13 de junio de 1621 en
                                            Burgos. </p>
                                        <p class="pb-2 text-gray-100 text-md">Tuvo 7 hijas y 2 hijos con Maria
                                            Ochoa de Aedo y Ladrón de Guevara, hija de Francisco de Aedo y
                                            Ladrón de Guevara.</p>
                                        <br>

                                    </details>
                                    <details class="pl-8">

                                        <summary class="pb-2 text-gray-100 text-md"><b>Jacinto de Salamanca y
                                                Forcallo</b>.</summary>
                                        <p class="pb-2 text-gray-100 text-md">Nacidx el 7 de julio de 1624 en
                                            Burgos.</p>
                                        <p class="pb-2 text-gray-100 text-md">Sin descendencia aparente.</p>
                                        <br>

                                    </details>
                                    <details class="pl-8">

                                        <summary class="pb-2 text-gray-100 text-md"><b>Juan de Salamanca y
                                                Forcallo</b>.</summary>
                                        <p class="pb-2 text-gray-100 text-md">Nacido el 13 de septiembre de 1628
                                            en Burgos.</p>
                                        <p class="pb-2 text-gray-100 text-md">Sin descendencia aparente.</p>
                                        <br>

                                    </details>
                                    <details class="pl-8">

                                        <summary class="pb-2 text-gray-100 text-md"><b>Benito de Salamanca y
                                                Forcallo</b>.</summary>
                                        <p class="pb-2 text-gray-100 text-md">Nacido el 29 de enero de 1630 en
                                            Burgos.</p>
                                        <p class="pb-2 text-gray-100 text-md">Sin descendencia aparente.</p>
                                        <br>

                                    </details>
                                    <details class="pl-8">

                                        <summary class="pb-2 text-gray-100 text-md"><b>Francisco de Salamanca y
                                                Forcallo</b>.</summary>
                                        <p class="pb-2 text-gray-100 text-md">Nacido el 11 de febrero de 1632 en
                                            Burgos.</p>
                                        <p class="pb-2 text-gray-100 text-md">Sin descendencia aparente.</p>
                                        <br>

                                    </details>
                                    <details class="pl-8">

                                        <summary class="pb-2 text-gray-100 text-md"><b>Agustín de Salamanca y
                                                Forcallo</b>.</summary>
                                        <p class="pb-2 text-gray-100 text-md">Nacido el 5 de junio de 1633 en
                                            Burgos.</p>
                                        <p class="pb-2 text-gray-100 text-md">Sin descendencia aparente.</p>
                                        <br>

                                    </details>
                                    <details class="pl-8">

                                        <summary class="pb-2 text-gray-100 text-md"><b>Benito de Salamanca y
                                                Forcallo</b>.</summary>
                                        <p class="pb-2 text-gray-100 text-md">Nacido el 5 de noviembre de 1636
                                            en Burgos.</p>
                                        <p class="pb-2 text-gray-100 text-md">Sin descendencia aparente.</p>
                                        <br>

                                    </details>
                                    <details class="pl-8">

                                        <summary class="pb-2 text-gray-100 text-md"><b>Antonio de Salamanca y
                                                Forcallo</b>.</summary>
                                        <p class="pb-2 text-gray-100 text-md">Nacido el 27 de enero de 1638 en
                                            Burgos.</p>
                                        <p class="pb-2 text-gray-100 text-md">Tuvo 4 hijas y 1 hijo con Maria
                                            Bodón y Muñoz, hija de Matías Bodón y García, y Ana Muñoz y Chica.
                                        </p>
                                        <br>

                                    </details>
                                    <details class="pl-8">

                                        <summary class="pb-2 text-gray-100 text-md"><b>Catalina de Salamanca y
                                                Forcallo</b>.</summary>
                                        <p class="pb-2 text-gray-100 text-md">Nacida el 20 de mayo de 1620 en
                                            Burgos.</p>
                                        <p class="pb-2 text-gray-100 text-md">Sin descendencia aparente.</p>
                                        <br>

                                    </details>
                                    <details class="pl-8">

                                        <summary class="pb-2 text-gray-100 text-md"><b>María de Salamanca y
                                                Forcallo</b>.</summary>
                                        <p class="pb-2 text-gray-100 text-md">Nacida en Burgos.</p>
                                        <p class="pb-2 text-gray-100 text-md">Sin descendencia aparente.</p>

                                    </details>
                                    <br>
                                    <p class="pb-2 text-gray-100 text-md">Tuvo también 1 hija con Antonia de
                                        Salamanca.</p>
                                    <br>

                                </details>
                                <details class="pl-8">

                                    <summary class="pb-2 text-gray-100 text-md"><b>Francisco de Salamanca y
                                            Riaño</b>.</summary>
                                    <p class="pb-2 text-gray-100 text-md">Nacido el 10 de febrero de 1585 en
                                        Burgos.</p>
                                    <p class="pb-2 text-gray-100 text-md">Sin descendencia aparente.</p>
                                    <br>

                                </details>
                                <details class="pl-8">

                                    <summary class="pb-2 text-gray-100 text-md"><b>Agustín de Salamanca y
                                            Riaño</b>.</summary>
                                    <p class="pb-2 text-gray-100 text-md">Nacido el 29 de agosto de 1587 en
                                        Burgos.</p>
                                    <p class="pb-2 text-gray-100 text-md">Sin descendencia aparente.</p>
                                    <br>

                                </details>
                                <details class="pl-8">

                                    <summary class="pb-2 text-gray-100 text-md"><b>Gabriel de Salamanca y
                                            Riaño</b>.</summary>
                                    <p class="pb-2 text-gray-100 text-md">Nacido el 20 de marzo de 1593 en
                                        Burgos.</p>
                                    <p class="pb-2 text-gray-100 text-md">Sin descendencia aparente.</p>
                                    <br>

                                </details>
                                <details class="pl-8">

                                    <summary class="pb-2 text-gray-100 text-md"><b>Juan de Salamanca y
                                            Riaño</b>.</summary>
                                    <p class="pb-2 text-gray-100 text-md">Nacido el 26 de abril de 1589 en
                                        Burgos.</p>
                                    <p class="pb-2 text-gray-100 text-md">Sin descendencia aparente.</p>
                                    <br>

                                </details>
                                <details class="pl-8">

                                    <summary class="pb-2 text-gray-100 text-md"><b>Bárbara de Salamanca y
                                            Riaño</b>.</summary>
                                    <p class="pb-2 text-gray-100 text-md">Nacida el 2 de mayo de 1586 en Burgos.
                                    </p>
                                    <p class="pb-2 text-gray-100 text-md">Tuvo 2 hijos con Lorenzo de Riaño y
                                        Gamarra, hijo de Antonio de Riaño y Mazuelo, y Petronila de Gamarra.</p>
                                    <br>

                                </details>
                                <details class="pl-8">

                                    <summary class="pb-2 text-gray-100 text-md"><b>Magdalena de Salamanca y
                                            Riaño</b>.</summary>
                                    <p class="pb-2 text-gray-100 text-md">Nacida el 26 de abril de 1589 en
                                        Burgos.</p>
                                    <p class="pb-2 text-gray-100 text-md">Sin descendencia aparente.</p>
                                    <br>

                                </details>
                                <details class="pl-8">

                                    <summary class="pb-2 text-gray-100 text-md"><b>Francisca de Salamanca y
                                            Riaño</b>.</summary>
                                    <p class="pb-2 text-gray-100 text-md">Nacida el 5 de mayo de 1590 en Burgos.
                                    </p>
                                    <p class="pb-2 text-gray-100 text-md">Sin descendencia aparente.</p>
                                    <br>

                                </details>
                                <details class="pl-8">

                                    <summary class="pb-2 text-gray-100 text-md"><b>Luisa de Salamanca y
                                            Riaño</b>.</summary>
                                    <p class="pb-2 text-gray-100 text-md">Nacida el 28 de agosto de 1591 en
                                        Burgos.</p>
                                    <p class="pb-2 text-gray-100 text-md">Sin descendencia aparente.</p>
                                    <br>

                                </details>
                                <br>

                            </details>
                            <details class="pl-8">

                                <summary class="pb-2 text-gray-100 text-md"><b>Alonso de Salamanca y
                                        Matanza</b>.</summary>
                                <p class="pb-2 text-gray-100 text-md">Sin descendencia aparente.</p>
                                <br>

                            </details>
                            <details class="pl-8">

                                <summary class="pb-2 text-gray-100 text-md"><b>Ana de Salamanca y Matanza</b>.
                                </summary>
                                <p class="pb-2 text-gray-100 text-md">Tuvo 2 hijas con Francisco Alonso de
                                    Maluenda y de la Peña, hijo de Diego Alonso de Maluenda y Castillo, e Isabel
                                    de la Peña.</p>

                            </details>
                            <br>
                            <p class="pb-2 text-gray-100 text-md">Tuvo también 2 hijos con Inés Alonso de
                                Maluenda y Castro, hija de Luis Alonso de Maluenda y del Castillo, y María Diaz
                                de Castro y Lerma Polanco.</p>
                            <br>

                        </details>
                        <details class="pl-8">

                            <summary class="pb-2 text-gray-100 text-md"><b>Miguel de Salamanca y Polanco</b>.
                            </summary>
                            <p class="pb-2 text-gray-100 text-md">Nacido en Burgos y fallecido alrededor de 1571
                                en Burgos.</p>
                            <p class="pb-2 text-gray-100 text-md">Tuvo 1 hijo y 1 hija con Ángela de Polanco y
                                Lerma, hija de Gonzalo de Polanco, e Isabel de Lerma y López de Gallo.</p>
                            <p class="pb-2 text-gray-100 text-md">Tuvo también 1 hijo con María Vélez de Guevara
                                y Velasco, hija de Pedro Vélez de Guevara y Velasco, y Catalina del Río y
                                Salcedo.</p>
                            <br>

                        </details>
                        <details class="pl-8">

                            <summary class="pb-2 text-gray-100 text-md"><b>Francisco de Salamanca y Polanco</b>.
                            </summary>
                            <p class="pb-2 text-gray-100 text-md">Nacido alrededor de 1502 en Burgos y fallecido
                                alrededor de 1598 en Flandes.</p>
                            <p class="pb-2 text-gray-100 text-md">Sin descendencia aparente.</p>
                            <br>

                        </details>
                        <details class="pl-8">

                            <summary class="pb-2 text-gray-100 text-md"><b>Diego de Salamanca y Polanco</b>.
                            </summary>
                            <p class="pb-2 text-gray-100 text-md">Nacido alrededor de 1510 en Burgos y fallecido
                                alrededor de 1592 en Burgos.</p>
                            <p class="pb-2 text-gray-100 text-md">Sin descendencia aparente.</p>
                            <br>

                        </details>
                        <details class="pl-8">

                            <summary class="pb-2 text-gray-100 text-md"><b>Juan Bautista de Salamanca y
                                    Polanco</b>.</summary>
                            <p class="pb-2 text-gray-100 text-md">Nacido alrededor de 1515 en Burgos.</p>
                            <p class="pb-2 text-gray-100 text-md">Sin descendencia aparente.</p>
                            <br>

                        </details>
                        <details class="pl-8">

                            <summary class="pb-2 text-gray-100 text-md"><b>Ana de Salamanca y Polanco</b>.
                            </summary>
                            <p class="pb-2 text-gray-100 text-md">Nacida en Burgos.</p>
                            <p class="pb-2 text-gray-100 text-md">Tuvo 3 hijos y 3 hijas con Andrés de Polanco y
                                Maluenda de Castro, hijo de Alfonso de Polanco, y Constanza Maluenda de Castro.
                            </p>
                            <br>

                        </details>
                        <details class="pl-8">

                            <summary class="pb-2 text-gray-100 text-md"><b>Ángela de Salamanca y Polanco</b>.
                            </summary>
                            <p class="pb-2 text-gray-100 text-md">Tuvo 2 hijas y 1 hijo con Hernando de Matanza
                                y Miranda, hijo de Hernando de Matanza y Santiago, y Bárbara de Miranda.</p>
                            <br>

                        </details>
                        <details class="pl-8">

                            <summary class="pb-2 text-gray-100 text-md"><b>Isabel de Salamanca y Polanco</b>.
                            </summary>
                            <p class="pb-2 text-gray-100 text-md">Tuvo 2 hijas y un hijo con Alonso de Maluenda
                                y Miranda, hijo de Alonso de Maluenda y Castro, e Inés de Miranda.</p>
                            <br>

                        </details>
                        <details class="pl-8">

                            <summary class="pb-2 text-gray-100 text-md"><b>Luisa de Salamanca y Polanco</b>.
                            </summary>
                            <p class="pb-2 text-gray-100 text-md">Nacida en Burgos y fallecida alrededor de 1602
                                en Burgos.</p>
                            <p class="pb-2 text-gray-100 text-md">Sin descendencia aparente.</p>

                        </details>
                        <br>

                    </details>
                    <details class="pl-8">

                        <summary class="pb-2 text-gray-100 text-md"><b>Francisco de Salamanca y Ayala</b>.
                        </summary>
                        <p class="pb-2 text-gray-100 text-md">Nacido en Burgos y fallecido alrededor de 1564.
                            Alcalde mayor de la Real Audiencia de Galicia, juez de la Audiencia de los Grados en
                            Sevilla y oidor de la Real Chancillería de Valladolid.</p>
                        <p class="pb-2 text-gray-100 text-md">Tuvo 2 hijos y 2 hijas con Clara de Mazuelo y
                            Carrillo.</p>
                        <p class="pb-2 text-gray-100 text-md">Tuvo también 1 hija con Inés Díez y Tamayo.</p>
                        <br>

                    </details>
                    <details class="pl-8">

                        <summary class="pb-2 text-gray-100 text-md"><b>Gabriel de Salamanca y Ayala</b>, <a
                                href="https://en.wikipedia.org/wiki/Gabriel_von_Salamanca-Ortenburg"
                                target="_blank" class="underline">conde de Ortemburg</a> en Alemania.</summary>
                        <p class="pb-2 text-gray-100 text-md">Nacido alrededor de 1489 y fallecido el 12 de
                            diciembre de 1539. En 1514 ya era canciller del emperador <b>Maximiliano I de los
                                Habsburgo</b>, quien había forjado una alianza con el rey <b>Fernando II de
                                Aragón</b> y la reina <b>Isabel I de Castilla</b> al casar a su hijo Felipe el
                            Hermoso con Juana de Castilla.</p>
                        <p class="pb-2 text-gray-100 text-md">En este período se hizo amigo del nieto de
                            <b>Maximiliano</b>, el archiduque <b>Fernando I</b>, quien después de la muerte del
                            emperador en 1519 recibió las tierras hereditarias de los Habsburgo de Austria con
                            los ducados de Estiria , Carintia y Carniola (entonces llamada "Austria interior")
                            de su hermano mayor, el emperador <b>Carlos V</b>, en 1521. Gabriel actuó como
                            tesorero y archicanciller de Fernando. Sin embargo, sus medidas económicas
                            finalmente fracasaron cuando sus supuestos modales egoístas se encontraron con una
                            feroz oposición por parte de la aristocracia austriaca y tirolesa.
                        </p>
                        <p class="pb-2 text-gray-100 text-md">En 1523 fue elevado al rango de Freiherr imperial
                            (barón) y señor del castillo de Ehrenberg en el Tirol, así como de Freyenstein y
                            Karlsbach en Austria. El 10 de marzo de 1524 recibió además las posesiones de los
                            extintos condes de Ortenburg en Carintia, que fueron ocupadas por última vez por el
                            conde Ulrico II de Celje , junto con el título de comital de Ortenburg, que le valió
                            la enemistad de la dinastía bávara de Ortenburg.</p>
                        <p class="pb-2 text-gray-100 text-md">Ya en 1526, se vio obligado a dimitir de sus
                            cargos y fue sucedido por el obispo Bernardo Clesio. Sin embargo, siguió siendo un
                            consejero cercano del archiduque y pudo mantener sus feudos. Fijó su residencia en
                            Spittal an der Drau en Carintia, donde tuvo un lujoso palacio renacentista
                            construido por arquitectos italianos a partir de 1533, hoy conocido como Schloss
                            Porcia. Salamanca, sin embargo, no vivió para verla completada. En compensación por
                            la pérdida de sus cargos había recibido la Bailía Habsburgo de Ensisheim en Alsacia,
                            donde murió en 1539.</p>

                    </details>
                    <br>
                    <p class="py-2 text-gray-100 text-md">Tuvo también 1 hija con <b>Isabel de Carranza</b>.</p>
                    <details class="pl-8">

                        <summary class="pb-2 text-gray-100 text-md"><b>Inés de Salamanca y Carranza</b>.
                        </summary>
                        <p class="pb-2 text-gray-100 text-md">Fallecida alrededor de 1561 en Burgos.</p>
                        <p class="pb-2 text-gray-100 text-md">Tuvo 1 hijo con Juan de Hoyos.</p>

                    </details>
                </details>
                <br>
            </details>
            <details>

                <summary class="pb-2 text-gray-100 text-md"><b>García de Salamanca</b>.</summary>
                <p class="pb-2 text-gray-100 text-md">Nacido en Burgos. Comerciante.</p>
                <p class="pb-2 text-gray-100 text-md">Sin descendencia aparente.</p>

            </details>
        </div>
    </div>
</Layout>

<style></style>