---

---

<div class="bg-black relative group lg:col-span-2 xl:col-span-1">
	<div class="flex items-center">
		<h1
			class="text-gray-300 font-bold py-4 lg:pl-3 text-lg md:text-2xl lg:pt-5 lg:text-xl"
		>
			<button class="fa-solid fa-bars px-4 lg:hidden"></button>
			FAMILIA SALAMANCA
		</h1>
	</div>
	<div
		id="menu"
		class="flex flex-col bg-black absolute w-full h-grow invisible lg:visible"
	>
		<a
			href="/"
			class="text-gray-300 text-sm flex items-center"
			title="Orígenes de los Salamanca"
			><i class="fa-solid fa-house m-3 mx-4 w-3"></i>
			<h2 id="index" class="text-gray-300 text-sm md:text-base">
				Orígenes de los Salamanca
			</h2>
		</a>
		<a
			href="/primeros-salamanca"
			class="text-gray-300 text-sm flex items-center"
			title="Primeros Salamanca"
		>
			<i class="fa-solid fa-users m-3 mx-4 w-3"></i>
			<h2 id="primeros" class="text-gray-300 text-sm md:text-base">
				Los Primeros Salamanca
			</h2>
		</a>
		<a
			href="/condes-fuente-el-salce"
			class="text-gray-300 text-sm flex items-center"
			title="Condes de Fuente el Salce"
			><i class="fa-sharp fa-solid fa-crown m-3 mx-4 w-3"></i>
			<h2 id="condes" class="text-gray-300 text-sm md:text-base">
				Condes de Fuente el Salce
			</h2>
		</a>
		<a
			href="/fernandez-de-salamanca"
			class="text-gray-300 text-sm flex items-center"
			title="Los Fernández de Salamanca"
			><i class="fa-solid fa-user m-3 mx-4 w-3"></i>
			<h2 id="fds" class="text-gray-300 text-sm md:text-base">
				Los Fernández de Salamanca
			</h2>
		</a>
		<br />
		<hr />
		<br />
		<p class="text-gray-400 text-sm m-3 ml-5 mb-0">
			Esta página pertenece a
		</p>
		<p class="text-gray-400 text-sm m-3 ml-5 mb-0">Marcos Fernández de</p>
		<p class="text-gray-400 text-sm m-3 ml-5 mb-0">Salamanca y López.</p>
		<br />
		<p class="text-gray-400 text-sm m-3 ml-5 mb-0">
			Para ponerse en contacto
		</p>
		<p class="text-gray-400 text-sm m-3 ml-5 mb-0">
			escriba al siguiente correo:
		</p>
		<a
			href="mailto:mark.musicteam@hotmail.com" title="mark.musicteam@hotmail.com"
			class="text-cyan-500 text-sm m-3 ml-5 mb-8"
			>mark.musicteam@hotmail.com</a
		>
	</div>
</div>

<script>
	var button = document.querySelector(".fa-solid.fa-bars");
	var menu = document.getElementById("menu");

	button.addEventListener("click", function () {
		if (menu.classList.contains("invisible")) {
			menu.classList.remove("invisible");
		} else {
			menu.classList.add("invisible");
		}
	});

	const routes = {
		"/": "index",
		"/primeros-salamanca/": "primeros",
		"/condes-fuente-el-salce/": "condes",
		"/fernandez-de-salamanca/": "fds",
	};

	const currentPath = window.location.pathname;
	const elementId = routes[currentPath];

	if (elementId) {
		const element = document.querySelector(`#${elementId}`);
		if (element) {
			element.classList.remove("text-gray-300");
			element.classList.add("text-white");
		}
	}
</script>
