---
import Header from "../components/Header.astro";

import logoescudo from "../img/logoescudo.webp";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Portal web de genealogía acerca del apellido Salamanca y el origen de este linaje burgalés, los condes de Fuente el Salce, los Rodríguez de Salamanca y los Fernández de Salamanca."
		/>
		
		<meta
			name="keywords"
			content="Condado Fuente el Salce, Condado de Fuente el Salce, Conde Fuente el Salce, Conde de Fuente el Salce, Condes Fuente el Salce, Condes de Fuente el Salce, Fuente el Salce, Apellido Salamanca, Origen apellido Salamanca, Apellido Fernández de Salamanca, Familia Fernández de Salamanca, Familia Salamanca, Fernández de Salamanca, Rodríguez de Salamanca, Gabriel von Salamanca, Salamanca de Burgos, Linaje Salamanca, Marcos Fernández de Salamanca, Marcos Salamanca, Sofos"
		/>
		<meta name="author" content="Marcos Fernández de Salamanca" />
		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="HandheldFriendly" content="True" />
		<meta property="og:title" content="Familia Salamanca" />
		<meta
			property="og:description"
			content="Familia Salamanca"
		/>
		<meta property="og:image" content="https://i.ibb.co/9Gchvs6/fb.png" />
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="1200">
		<meta property="og:url" content="https://familiasalamanca.es" />
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="es_ES" />
		<meta property="og:site_name" content="Familia Salamanca" />
		<meta property="fb:app_id" content="1992055981190435">
		<meta name="twitter:title" content="Familia Salamanca" />
		<meta
			name="twitter:description"
			content="Familia Salamanca"
		/>
		<meta
			name="twitter:image"
			content="https://i.ibb.co/qnXjNgP/logoescudo.png"
		/>
		<meta name="twitter:card" content="summary_large_image" />

		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={logoescudo.src} />
		<meta name="generator" content={Astro.generator} />
		<script
			src="https://kit.fontawesome.com/fb109a4de6.js"
			crossorigin="anonymous"></script>
		<title>Familia Salamanca</title>
	</head>
	<body>
		<div class="flex flex-col h-screen">
			<div class="lg:grid lg:grid-cols-8 xl:grid-cols-6 flex-1">
				<Header />
				<slot />
			</div>
		</div>
	</body>
</html>
<style is:global>
	@font-face {
		font-family: "Kanit";
		src: url("../fonts/kanit.woff") format("woff");
		font-display: swap;
	}

	body {
		font-family: "Kanit", sans-serif;
	}
</style>
